@import "../../style-partials/variables";

.add-player-button {
	font-weight: bold;
	padding: 0.6em 0.9em;
	background-color: white;
	color: $pretty-blue;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
	&:hover {
		color: white;
		background-color: $pretty-blue;
	}
}
