@import "../../style-partials/utilities";
@import "../../style-partials/variables";

.users-table {
	@include size(100%, 100%);
	margin: 0 auto;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	overflow: auto;
	table {
		width: 100%;
	}
	thead tr {
		border-bottom: 1px solid $very_light_gray;
		top: 0;
		position: sticky;
		background-color: lightgray;
	}
	tbody tr {
		border-bottom: 1px solid $very_light_gray;
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: lighten($pretty-blue, 20%);
		}
		&:last-of-type {
			border-bottom: 0;
		}
	}
	th,
	td {
		text-align: center;
		text-transform: capitalize;
	}
	th {
		font-weight: bold;
		padding: 1em 0.7em;
	}
	td {
		padding: 1.5em 0.7em;
	}
	.user-wage::after,
	.user-value::after {
		content: "$";
	}
}
