@import "../../style-partials/utilities";
@import "../../style-partials/variables";

.data-table {
	@include size(100%, 100%);
	font-size: 1.05rem;
	background-color: white;
	border-radius: 13px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
	overflow: auto;
	table {
		width: 100%;
		background-color: rgb(230, 230, 230);
	}
	thead tr {
		background-color: rgb(230, 230, 230);
		border-bottom: 1px solid $very_light_gray;
		top: 0;
		position: sticky;
	}
	tbody tr {
		background-color: white;
		border-bottom: 1px solid $very_light_gray;
		transition: background-color 0.3s;
		&:hover {
			background-color: lighten($pretty-blue, 32%);
		}
		&:last-of-type {
			border-bottom: 0;
		}
	}
	th,
	td {
		text-align: center;
		text-transform: capitalize;
	}
	th {
		font-weight: bold;
		padding: 1em 0.7em;
	}
	td {
		padding: 1.5em 0.7em;
	}
	.data-wage::after,
	.data-value::after {
		content: "$";
	}
	.data-first_name,
	.data-last_name,
	.data-name,
	.data-club {
		font-weight: bold;
	}
	.data-email {
		text-transform: lowercase;
	}
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		&-track {
			background: rgba(230, 230, 230, 1);
		}
		&-thumb {
			border-radius: 8px;
			background-color: rgba(0, 0, 0, 0.2);
			&:hover {
				background-color: rgba(0, 0, 0, 0.3);
			}
			&:active {
				background-color: rgba(0, 0, 0, 0.4);
			}
		}
	}
}
